* {
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;

  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  color: var(--black);
}

h1 {
  text-align: center;
}

form {
  width: 400px;
}

/* Code for exercise 01-navbar */
.navigation{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  background:black;
  margin: 0;
}

.navigation a {
  text-orientation: none;
  display: block;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  background: #a2106d;
}

/* Code for exercise 02-cards */
.outterContainer{
  border: 2px solid;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
}
.innerContainer{
  margin-right: auto;
  border: 2px solid;
  margin-left: 10px;
}

.flex-item-left{
  flex: 25%;
  min-width: 0;
}

.flex-item-middle{
  flex: 25%;
  min-width: 0;
}

.flex-item-right{
  flex: 25%;
  min-width: 0;
}

.custom-margin{
  margin-left: 20px;
  margin-right: 20px;
}

.custom-link{
  display:block;
  text-decoration: none;
  list-style-type: none;
  background-color:black;
  color: white;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  width: 100px;
  height: 100px;
}

.custom-button {
  color: #fff;               
  background-color: black; 
  border: none;              
  text-align: center;  
  padding: 10px 100px;   
  margin: 20px;    
}

.custom-button:hover {
  background-color: #a2106d; 
}

/* Code for exercise 03-table */
.customize-table,td {
  border:1px solid black;
  margin: 0 auto;
}

.customize-table th, .customize-table td {
  padding: 8px;
  text-align: left;
}

.customize-table tr:nth-child(1) {
  background-color: black; 
  color: white; 
}

.customize-table tr td:first-child {
  background-color: #a2106d; 
  color: white; 
}

.customize-table tr td:first-child:first-child {
  background-color: black;
}

.customize-hover:hover {
  background-color: #ffa500; 
}


/* Code for exercise 04-form */
form {
  margin: auto; 
  width: 25%;          
  text-align: center; 
}

.container {
  text-align: left;   
}

.submit-button{
  padding: 10px 40px;   
  margin: 10px;        
  background-color:black;
  color: white;
  border: none;
}

.reset-button{
  padding: 10px 40px; 
  margin: 10px;         
  background-color:white;
  color: black;
  
}
.submit-button:hover{
  background-color: #a2106d;
}

.reset-button:hover{
  background-color: #565656;
}
